<!--
Generated template for the Perfil page.

See http://ionicframework.com/docs/v2/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Perfil</ion-title>

    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="logOut()">Sair
        <ion-icon name="md-log-out"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-title>Send To...</ion-title>
    <ion-buttons end> -->
  </ion-navbar>

  <ion-toolbar class="bar-profile">
    <ion-item no-lines class="item-bar-profile">
      <ion-avatar>
        <img style="box-shadow: 5px 5px 5px grey;" class="button centered" [src]="assetCollection" (click)="presentActionSheet()">
      </ion-avatar>
      <span class="user-title centered" style="text-shadow: 2px 2px 4px #000000; margin-top: 10px" > {{ userNome }} {{ userSobrenome }} </span>
      <span class="user-info centered" style="text-shadow: 2px 2px 4px #000000;">Palmas. Brasil</span>
    </ion-item>
  </ion-toolbar>

</ion-header>


<ion-content  >

  <ion-fab bottom right>
    <button ion-fab mini (click)="adicionarMala()"><ion-icon name="md-briefcase"></ion-icon></button>
  </ion-fab>

  <div padding>
    <ion-segment [(ngModel)]="malas">
      <ion-segment-button value="minhas">
        Minhas
        <ion-badge item-right>{{badgeMinhasMalas}}</ion-badge>
      </ion-segment-button>
      <ion-segment-button value="ofertadas">
        Ofertadas
        <ion-badge item-right>{{badgeMinhasMalas}}</ion-badge>
      </ion-segment-button>
      <!-- <ion-segment-button value="ofertadas">
        Ofertadas
        <ion-badge item-right>2</ion-badge>
      </ion-segment-button> -->
    </ion-segment>
  </div>

  <div [ngSwitch]="malas">
    <ion-list *ngSwitchCase="'ofertadas'">
      <ion-item-sliding *ngFor="let ofertada of minhasOfertas | async " class="button">
        <ion-item >
          <ion-thumbnail item-left>
            <img [src]="ofertada?.url">
          </ion-thumbnail>
          <p>Cor: {{ofertada?.cor}}</p>
          <p>Modelo: {{ofertada?.modelo}}</p>
          <p>Tamanho: {{ofertada?.tamanho}}</p>
          <p>Tipo: {{ofertada?.tipo}}</p>

          <ion-badge [hidden]="ofertada?.alugada" color="secondary" item-right>Disponível</ion-badge>
          <ion-badge [hidden]="!ofertada?.alugada" color="primary" item-right>Alugada</ion-badge>

        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="secondary" (click)="update(ofertada.$key)">
            <ion-icon name="md-create"></ion-icon>
            Editar
          </button>
          <button ion-button color="danger" (click)="ofertada(mala.$key)">
            <ion-icon name="md-trash"></ion-icon>
            Excluir
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'minhas'">
      <ion-item-sliding *ngFor="let mala of minhasMalas | async " class="button">
        <ion-item >
          <ion-thumbnail item-left>
            <img [src]="mala?.url">
          </ion-thumbnail>
          <p>Cor: {{mala?.cor}}</p>
          <p>Modelo: {{mala?.modelo}}</p>
          <p>Tamanho: {{mala?.tamanho}}</p>
          <p>Tipo: {{mala?.tipo}}</p>
          <!-- <p>Hayao Miyazaki • 1988</p> -->
          <!-- <button ion-button clear item-right>View</button> -->
          <!-- <div [hidden]="true"> -->
          <ion-badge [hidden]="mala?.alugada" color="secondary" item-right>Disponível</ion-badge>
          <ion-badge [hidden]="!mala?.alugada" color="primary" item-right>Alugada</ion-badge>
        <!-- </div> -->
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="secondary" (click)="update(mala.$key)">
            <ion-icon name="md-create"></ion-icon>
            Editar
          </button>
          <button ion-button color="danger" (click)="deletar(mala.$key)">
            <ion-icon name="md-trash"></ion-icon>
            Excluir
          </button>
          <button ion-button color="Primary" (click)="ofertar(mala.$key)">
            <ion-icon name="md-pricetag"></ion-icon>
            Ofertar
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <!-- </ion-list> -->
    </ion-list>
  </div>




</ion-content>
