<!--
Generated template for the NovaMala page.

See http://ionicframework.com/docs/v2/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Nova Mala</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>



  <form [formGroup]="novaMalaForm" (submit)="adicionarMala()" novalidate>

    <ion-item class="centralizado">
      <!-- <ion-label stacked>Carrega</ion-label> -->
      <ion-img class="button" src="assets/images/no-image.jpg" (click)="presentActionSheet()"></ion-img>
    </ion-item>

    <ion-item>
      <ion-label stacked>Modelo</ion-label>
      <ion-input formControlName="modelo" type="text" placeholder="Modelo da Mala"
      [class.invalid]="!novaMalaForm.controls.modelo.valid && novaMalaForm.controls.modelo.dirty">
    </ion-input>
  </ion-item>
  <ion-item class="error-message"
  *ngIf="!novaMalaForm.controls.modelo.valid && novaMalaForm.controls.modelo.dirty">
  <p>Por favor, entre com o modelo da bolsa.</p>
  </ion-item>

  <ion-item>
    <ion-label stacked>Cor</ion-label>
    <ion-input formControlName="cor" type="text" placeholder="Cor da Mala"
    [class.invalid]="!novaMalaForm.controls.cor.valid && novaMalaForm.controls.cor.dirty">
  </ion-input>
</ion-item>
<ion-item class="error-message"
*ngIf="!novaMalaForm.controls.cor.valid && novaMalaForm.controls.cor.dirty">
<p>Por favor, entre com a cor da bolsa.</p>
</ion-item>

<ion-list>
  <ion-item>
    <ion-label>Tipo de Material</ion-label>
    <!-- <ion-select [(ngModel)]="tipo" [ngModelOptions]="{standalone: true}" interface="popover"> -->
    <ion-select formControlName="tipo" interface="popover" [class.invalid]="!novaMalaForm.controls.tipo.valid
            && novaMalaForm.controls.tipo.dirty">
      <ion-option value="Couro">Couro</ion-option>
      <ion-option value="Plástico">Plástico</ion-option>
      <ion-option value="Madeira">Madeira</ion-option>
      <ion-option value="Borracha">Borracha</ion-option>
      <ion-option value="Dark Matter">Matéria Negra</ion-option>
      <ion-option value="Etc">Etecétera</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
<ion-item class="error-message"
*ngIf="!novaMalaForm.controls.tipo.valid && novaMalaForm.controls.tipo.dirty">
<p>Por favor, entre com a tipo da mala.</p>
</ion-item>

<ion-list>
  <ion-item>
    <ion-label>Tamanho da Mala</ion-label>
    <!-- <ion-select [(ngModel)]="tamanho" [ngModelOptions]="{standalone: true}" interface="popover"> -->
    <ion-select formControlName="tamanho" interface="popover" [class.invalid]="!novaMalaForm.controls.tamanho.valid
            && novaMalaForm.controls.tamanho.dirty">
      <ion-option value="Pequena">Pequena</ion-option>
      <ion-option value="Médio">Média</ion-option>
      <ion-option value="Grande">Grande</ion-option>
      <ion-option value="Tamanho Família">Tamanho Família</ion-option>on>
    </ion-select>
  </ion-item>
</ion-list>
<ion-item class="error-message"
*ngIf="!novaMalaForm.controls.tamanho.valid && novaMalaForm.controls.tamanho.dirty">
<p>Por favor, entre com o tamanho da mala.</p>
</ion-item>


<button ion-button block type="submit">
  Adicionar Mala
</button>

</form>

</ion-content>
